body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.unidad-control, .memoria, .alu {
    border: 2px solid black;
    padding: 20px;
    width: 30%;
}

h2 {
    margin-bottom: 10px;
}

span {
    font-weight: bold;
    background-color: #f0f0f0;
    padding: 5px;
}

.highlight {
    background-color: yellow !important;
    transition: background-color 0.5s ease;
}
